aws_region = "eu-west-1"
bastion_key_path = ""
aws_access_key = ""
aws_secret_key = ""
aws_account_id = ""
log_reader = "belal"
aws_es_instance_type = "t2.micro.elasticsearch"
aws_es_domain_name = "prod"
aws_es_version = "1.5"
tags = {
    "owner"   = "belal "
    "project" = "tf-uc2-aws-modules"
    "client"  = "internal"
}
vpc_azs = ["eu-west-1a", "eu-west-1b", "eu-west-1c"]
vpc_name = "my-vpc"
vpc_cidr = "10.0.0.0/16"
vpc_private_subnets = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
vpc_public_subnets = ["10.0.101.0/24"]
bucket_prefix = "belal"
lambda_function_name = "lambda_name"
metric_name_space = "belal"
trail_name = "cloudtrail-1110"
bastion_allowed_cidrs = ["10.0.0.0/24"]
bastion_egress_cidrs = ["10.0.0.0/16"]
bastion_load_balancer_names = ["lb-12345678"]
bastion_min = 1
bastion_max = 1
bastion_desired = 1